body{
  background-image: url("foto/Lime-Scooter.jpg");
  background-size: cover;

}

.sfondo{
  background-color: rgba(40,20,30,0.75);
  margin: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  height: 700px;
}

header{
  text-align: center
}
header>h2{
  color: #73d300;
  font-family: 'Pacifico', cursive;
}

#logone{
  width: 350px;
}

.margine{
  margin-left: 150px;
  margin-right: 150px;
  height: 35px;
  padding-top: 10px;
}

.sezione{
  margin-top: 30px;
}

h3{
  display: inline-block;
}

#buttonplace{
  background-color: #73d300;
  border-radius: 5px;

}

main{
  font-family: 'verdana', sans-serif;
  color: white;
}

.container{
  counter-increment: x;
}

.barra1{
  width: 300px;
  height: 20px;
  background-color: orange;
  border-radius: 5px;
}

.barra2{
  width: 600px;
  height: 20px;
  background-color: green;
  border-radius: 5px;
}

.barra3{
  width: 100px;
  height: 20px;
  background-color: red;
  border-radius: 5px;
}
